{% extends 'base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-light text-center">Your Cart</h2>

    {% if cart_items %}
    <ul>
        {% for item in cart_items %}
        <li class="text-light">{{ item.name }} — ${{ item.price }}</li>
        {% endfor %}
    </ul>
    <p class="text-light">Total: ${{ total_price }}</p>
    {% else %}
        <p class="text-light text-center">Korpa je prazna.</p>
    {% endif %}
</div>
{% endblock %}
